RVL_ALIAS "clk" "clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "rst" SITE "B3" ;

LOCATE COMP "LEDS[0]" SITE "H11" ;
LOCATE COMP "LEDS[1]" SITE "J13" ;
LOCATE COMP "LEDS[2]" SITE "J11" ;
LOCATE COMP "LEDS[3]" SITE "L12" ;
LOCATE COMP "LEDS[4]" SITE "K11" ;
LOCATE COMP "LEDS[5]" SITE "L13" ;
LOCATE COMP "LEDS[6]" SITE "N15" ;
LOCATE COMP "LEDS[7]" SITE "P16" ;

LOCATE COMP "RED[2]"   SITE "H3" ;
LOCATE COMP "RED[1]"   SITE "H1" ;
LOCATE COMP "RED[0]"   SITE "G1" ;
LOCATE COMP "GREEN[2]" SITE "J3" ;
LOCATE COMP "GREEN[1]" SITE "H2" ;
LOCATE COMP "GREEN[0]" SITE "G2" ;
LOCATE COMP "BLUE[1]"  SITE "F1" ;
LOCATE COMP "BLUE[0]"  SITE "F2" ;
LOCATE COMP "HSYNC"    SITE "J1";
LOCATE COMP "VSYNC"    SITE "J2";

LOCATE COMP "btnVS"   SITE "P2" ;//"N2" ;
LOCATE COMP "btnHS"   SITE "P1" ;//"P1" ;
LOCATE COMP "btnUART" SITE "N2" ;//"M3" ;
LOCATE COMP "btnVGA"  SITE "R1" ;//"N1" ;

LOCATE COMP "clk" SITE "C8" ;

IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;

LOCATE COMP "in"  SITE "F5" ;
LOCATE COMP "out" SITE "E3" ;

IOBUF PORT "in"  PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "out" PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "btnVS"   PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "btnHS"   PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "btnUART" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "btnVGA"  PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "LEDS[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[3]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[4]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[5]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[6]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "LEDS[7]" PULLMODE=UP IO_TYPE=LVCMOS33 ;

IOBUF PORT "RED[2]"   PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "RED[1]"   PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "RED[0]"   PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[2]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[1]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "GREEN[0]" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "BLUE[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "BLUE[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "HSYNC"    PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "VSYNC"    PULLMODE=UP IO_TYPE=LVCMOS33 ;

SYSCONFIG MASTER_SPI_PORT=DISABLE CONFIGURATION=CFG MCCLK_FREQ=66.5 ;
BLOCK JTAGPATHS ;
